<?xml version="1.0"?>
<configuration>
  <!-- Database Connection -->
  <connectionStrings>
    <add name="SPC_DB" connectionString="Server=DESKTOP-M3HCAA5\SQLEXPRESS;Database=SPC_DB;Integrated Security=True;         MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- Application Settings -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="LoginPath" value="~/Login.aspx"/>
    <add key="DefaultErrorPage" value="~/Error.aspx"/>
  </appSettings>
  <!-- System Web Configuration -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" executionTimeout="90" maxRequestLength="4096" requestValidationMode="4.8"/>
    <!-- Forms Authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30"/>
    </authentication>
    <!-- Session State -->
    <sessionState mode="InProc" timeout="20"/>
    <!-- Custom Error Pages -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/404.aspx"/>
      <error statusCode="500" redirect="~/Error.aspx"/>
    </customErrors>
  </system.web>
  <!-- Web Server Configuration -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- Runtime Assembly Binding -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>